.section {
    display: flex;
    width: 100vw;
    // margin: 40 auto ;
    padding: 0px 40px ;
    // border : 2px red solid ;    
    align-self: center;
    justify-content: center;
    
    
    .container {
        
        width: 80vw;
        max-width:  1360px;
        display: flex;  
        flex-direction: column;     
        border-radius: 20PX;
        padding: 40px;
        background-color: #f4f2f0;
        justify-content: space-between;
        border: 1px #d3dcd4;


        .arrow{
            justify-content: left;
            


        }
        .signup{

            font: sans-serif ;

            .h2{
                font-size: 20px;
            }

            .p{

                font-size: 16px ;

            }
            .button {

                background-color: rgb(34,173,1);
                color: #fff;
                text-align: center;
                border-style: none;
                border-radius: 8px;
                padding: 12px 24px;
                font-weight: 500;
                line-height: 140%;
                transition: background-color .3s;

            }

        }

    }


}
